In [1]:
import pandas as pd
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.cross_validation import cross_val_score
from sklearn import preprocessing

/usr/local/lib/python2.7/dist-packages/sklearn/cross_validation.py:43: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [3]:
df = pd.read_csv("titanic_rdatacenter.csv", header=0, index_col=0, delimiter=r",")
df.head()

       class     age  sex survived
1  1st class  adults  man      yes
2  1st class  adults  man      yes
3  1st class  adults  man      yes
4  1st class  adults  man      yes
5  1st class  adults  man      yes

In [4]:
labels_names = df["survived"].unique()
print(labels_names)

['yes' 'no']

In [14]:
le = preprocessing.LabelEncoder()
col = le.fit(df['survived'])
print(col.classes_)

['no' 'yes']

In [13]:
label_id = le.transform(df['survived'])

In [15]:
df.apply(le.transform(df['survived']))

TypeError: ("'numpy.ndarray' object is not callable", u'occurred at index class')

In [6]:
labels_to_id = {kind: k for k, kind in enumerate(labels_names)}
print (labels_to_id)

{'yes': 0, 'no': 1}

In [7]:
df_vector = df.copy()
df_vector["label"] = df_vector["survived"].replace(labels_to_id)
df_vector.head()

       class     age  sex survived  label
1  1st class  adults  man      yes      0
2  1st class  adults  man      yes      0
3  1st class  adults  man      yes      0
4  1st class  adults  man      yes      0
5  1st class  adults  man      yes      0

In [8]:
class_names = df["class"].unique()
class_to_id = {kind: k for k, kind in enumerate(class_names)}

age_names = df["age"].unique()
age_to_id = {kind: k for k, kind in enumerate(age_names)}

sex_names = df["sex"].unique()
sex_to_id = {kind: k for k, kind in enumerate(sex_names)}

print(class_to_id)
print(age_to_id)
print(sex_to_id)

{'3rd class': 2, '1st class': 0, '2nd class': 1}
{'adults': 0, 'child': 1}
{'women': 1, 'man': 0}

In [9]:
df_vector["class_id"] = df_vector["class"].replace(class_to_id)
df_vector["age_id"] = df_vector["age"].replace(age_to_id)
df_vector["sex_id"] = df_vector["sex"].replace(sex_to_id)

df_vector.head()

       class     age  sex survived  label  class_id  age_id  sex_id
1  1st class  adults  man      yes      0         0       0       0
2  1st class  adults  man      yes      0         0       0       0
3  1st class  adults  man      yes      0         0       0       0
4  1st class  adults  man      yes      0         0       0       0
5  1st class  adults  man      yes      0         0       0       0

In [10]:
columns = ["class_id", "age_id", "sex_id", "label"]

df_data = df_vector[columns]

df_label = df_vector["label"]

In [11]:
et = ExtraTreesClassifier(n_estimators=100, max_depth=None, min_samples_split=0.5, random_state=0)
labels = df_label.values
features = df_data.values 

et_score = cross_val_score(et, features, labels, n_jobs=-1).mean()
print("{0} -> ET: {1})".format(columns, et_score))

['class_id', 'age_id', 'sex_id', 'label'] -> ET: 1.0)